<div class="modal modal-create" #modalCreate>
  <button
    class="font-extrabold text-5xl rounded-lg text-white self-end px-4"
    (click)="closeModal()"
  >
    &times;
  </button>
  <div class="modal-content-create">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-6">
        <div class="form-content-col">
          <h2 class="text-xl font-bold mb-6">Dados pessoais</h2>
          <app-input-custom label="Nome" formControlName="firstName" />
          <app-input-custom label="Sobrenome" formControlName="lastName" />
          <app-input-custom label="Documento" formControlName="document" />
          <div class="grid grid-cols-2 gap-4">
            <app-input-custom label="E-mail" formControlName="email" />
            <app-input-custom label="Celular" formControlName="phoneNumber" />
          </div>
          <app-input-custom
            label="Data de Nascimento"
            formControlName="dateOfBirth"
          />
        </div>
        <div class="form-content-col">
          <h2 class="text-xl font-bold mb-6">Dados pessoais</h2>
          <div class="flex flex-row gap-6">
            <div class="flex-1">
              <app-input-custom label="CEP" formControlName="zipcode" />
            </div>
            <button
              class="bg-green-700 text-white px-4 rounded-xl"
              style="height: 40px"
              (click)="getCep()"
            >
              Buscar
            </button>
          </div>
          <app-input-custom label="Rua" formControlName="street" />
          <app-input-custom label="Complemento" formControlName="extraLine" />
          <app-input-custom label="Bairro" formControlName="neighborhood" />
          <div class="grid grid-cols-2 gap-4">
            <app-input-custom label="Cidade" formControlName="city" />
            <app-input-custom label="UF" formControlName="state" />
          </div>
          <div class="flex gap-2 justify-end mt-2">
            <button
              id="btn-cancel"
              class="bg-red-500 text-white py-2 px-8 rounded-xl float-end"
            >
              Cancelar
            </button>
            <button
              id="btn-confirm"
              class="bg-green-700 text-white py-2 px-8 rounded-xl float-end"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
