<app-modal [modalId]="modalId" [modalTitle]="modalTitle">
  <form class="space-y-1" [formGroup]="person.personForm">
    <div class="flex md:flex-row max-sm:flex-col gap-2">
      <div class="flex-1">
        <app-custom-input
          inputId="firstName"
          label="Nome"
          formControlName="firstName"
          placeHolder="Seu primeiro nome"
          [form]="person.personForm"
        />
      </div>

      <div class="flex-1">
        <app-custom-input
          inputId="lastName"
          label="Sobrenome"
          formControlName="lastName"
          placeHolder="Seu sobrenome aqui"
          [form]="person.personForm"
        />
      </div>
    </div>
    <div class="flex md:flex-row max-sm:flex-col gap-2">
      <div class="flex-1">
        <app-custom-input
          inputId="document"
          label="Documento"
          mask="000.000.000-00"
          formControlName="document"
          placeHolder="Ex.: 123.456.789-10"
          [form]="person.personForm"
          [inputDisable]="disableDocument"
        />
      </div>
      <div class="flex-1">
        <app-custom-input
          inputId="phoneNumber"
          inputType="tel"
          label="Celular"
          mask="(00) 00000-0000"
          [useMask]="false"
          formControlName="phoneNumber"
          placeHolder="Ex.: (11) 98888-8888"
          [form]="person.personForm"
        />
      </div>
    </div>
    <div class="flex md:flex-row max-sm:flex-col gap-2">
      <div class="flex-1">
        <app-custom-input
          inputType="email"
          inputId="email"
          label="E-mail"
          formControlName="email"
          placeHolder="Ex.: exemple@email.com"
          [form]="person.personForm"
        />
      </div>
      <div class="flex-1">
        <app-custom-input
          inputId="dateOfBirth"
          label="Data de nascimento"
          formControlName="dateOfBirth"
          mask="00/00/0000"
          [useMask]="false"
          placeHolder="Ex.: 01/01/1999"
          [form]="person.personForm"
        />
      </div>
    </div>

    <app-custom-input
      inputId="zipcode"
      label="CEP"
      formControlName="zipcode"
      mask="00000-000"
      placeHolder="Ex.: 12345-678"
      [form]="person.personForm"
    >
      <app-primary-button
        title="Buscar"
        inputType="button"
        [isLoading]="person.cepLoading"
        (onTap)="getCep()"
        height="h-11"
    /></app-custom-input>

    <app-custom-input
      inputId="street"
      label="Rua"
      formControlName="street"
      placeHolder="Ex.: Rua dos bandeirantes"
      [form]="person.personForm"
    />
    <div class="flex md:flex-row max-sm:flex-col gap-2">
      <div class="max-2xl:w-20 max-sm:w-auto">
        <app-custom-input
          inputId="number"
          label="Nº"
          formControlName="number"
          placeHolder="Nº resinputIdência"
          [form]="person.personForm"
        />
      </div>
      <div class="flex-1">
        <app-custom-input
          inputId="extraLine"
          label="Complemento"
          formControlName="extraLine"
          placeHolder="Complemento da resinputIdência (opcional)"
          [form]="person.personForm"
        />
      </div>
    </div>
    <app-custom-input
      inputId="neighborhood"
      label="Bairro"
      formControlName="neighborhood"
      placeHolder="Ex.: Parque das andurinhas"
      [form]="person.personForm"
    />
    <div class="flex md:flex-row max-sm:flex-col gap-2">
      <div class="max-2xl:w-20 max-sm:w-auto">
        <app-custom-input
          inputId="state"
          label="Estado"
          formControlName="state"
          placeHolder="UF"
          [form]="person.personForm"
        />
      </div>
      <div class="flex-1">
        <app-custom-input
          inputId="city"
          label="CinputIdade"
          formControlName="city"
          placeHolder="Ex.: São Paulo"
          [form]="person.personForm"
        />
      </div>
    </div>
    <div class="h-4"></div>
    <app-primary-button
      id="id-{{ modalId }}"
      title="{{ buttonSubmitTitle }}"
      inputType="submit"
      width="w-full"
      [isLoading]="buttonSubmitLoading"
      (onTap)="onSubmit()"
    /></form
></app-modal>
