:host {
  input {
    border-bottom: 1px solid #3e3e3e;
    padding: 0.2rem;
  }

  input:focus {
    outline: none;
  }

  .input-error {
    border-bottom: 1px solid red;
  }

  .input-success {
    border-bottom: 1px solid green;
  }
}
